<div class="row-fluid">
  <h1>Test queue (<%= @jobs.count %> jobs)</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Job</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job["class"].to_s %>:<%= job["args"].to_s %></td>
        <td><%= link_to "Show", test_run_path(job["args"].first.to_i) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
