<div class="row-fluid">
  <div class="span12">
  <%= render :partial => "workers", :locals => { :workers => @workers } %>

  <%= render :partial => "queues", :locals => { :queues => @queues } %>
  </div>
</div>
